'scopeName': 'text.watson-todo'
'name': 'Watson TODO'
'injectionSelector': 'comment'
'patterns': [
  {
    'match': '\\[(fixme|optimize|review|update|todo|note)\\]'
    'name': 'storage.type.class.${1:/downcase}'
  }
]
